.is-attached {
    border-radius: 0 !important;
}

.is-left-attached {
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
    align-self: stretch;
}

.is-left-top-attached {
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
}

.is-left-bottom-attached {
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
    border-top-left-radius: 0 !important;
}

.is-right-attached {
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
    align-self: stretch;
}

.is-right-top-attached {
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
}

.is-right-bottom-attached {
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
    border-top-right-radius: 0 !important;
}

.is-top-attached {
    border-bottom-right-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
    align-self: stretch;
}

.is-top-left-attached {
    border-bottom-right-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
    border-top-right-radius: 0 !important;
}

.is-top-right-attached {
    border-bottom-right-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
    border-top-left-radius: 0 !important;
}

.is-bottom-attached {
    border-top-right-radius: 0 !important;
    border-top-left-radius: 0 !important;
    align-self: stretch;
}

.is-bottom-left-attached {
    border-top-right-radius: 0 !important;
    border-top-left-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
}

.is-bottom-right-attached {
    border-top-right-radius: 0 !important;
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
}
