@use "../termeh" as T;
@use "vars";
@forward "../styles.scss";
@forward "../components/all.scss";
@forward "../form/all.scss";
@forward "../helpers/all.scss";
@forward "../layout/all.scss";

.attachment {
    padding: 1rem;
    text-align: right;
    background: T.variant("shade", "mute");
}

.sidebar {
    min-width: 10rem;
    min-height: 5rem;
    background: T.variant("shade", "section");
}

.content {
    background: T.variant("base", "section");
}

.lorem {
    padding: 2rem;
}

// .test {
//     padding: 2rem;
//     background: blue;
//     @include T.until-desktop() {
//         background: red;
//     }
//     @include T.mobile() {
//         background: green;
//     }

//     @each $name, $color in T.colors() {
//         &.is-#{$name} {
//             color: T.a11y(
//                 $color,
//                 white,
//                 "AA",
//                 T.var("font", "size"),
//                 T.var("font", "size"),
//                 false
//             );
//             color: T.a11y(
//                 $color,
//                 black,
//                 "AA",
//                 T.var("font", "size"),
//                 T.var("font", "size"),
//                 true
//             );
//             @each $var
//                 in "50"
//                 "100"
//                 "200"
//                 "300"
//                 "400"
//                 "500"
//                 "600"
//                 "700"
//                 "800"
//                 "900"
//             {
//                 color-#{$var}: T.palette-of($color, $var);
//             }
//         }
//     }
// }
