@keyframes spin {
    from {
        transform: translate3d(-50%, -50%, 0) rotate(0deg);
    }
    to {
        transform: translate3d(-50%, -50%, 0) rotate(360deg);
    }
}

@keyframes shake {
    5%, 40% {
        transform: translateX(-5px);
    }
    25%, 60% {
        transform: translateX(5px);
    }
    0%, 100% {
        transform: translateX(0);
    }
}