@use "../termeh" as T;

img {
    &.is-centered {
        margin: auto;
    }
    $include: T.var("image", "sizes", ());
    @each $name, $size in T.sizes($include) {
        &.is-#{$name} {
            width: $size;
        }
    }

    &.is-rounded {
        border-radius: T.var("radius", "normal");
    }

    &.is-circular {
        border-radius: T.var("radius", "circle");
    }
}
